:root {
  --main-bg : #BBB7B7
  --sec-bg : #443F3F
  --color-text : #FFFFFF
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: white;
} 

nav{
  position: absolute;
  padding: 1.7rem 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  z-index: 5;
}

.navbar-title{
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: bold;
}

.navbar-list{
  display: flex;
  gap: clamp(0.5rem , 1vw, 1.2rem);
}

.navbar-list a{
  text-transform: capitalize;
  text-decoration: none;
  font-size: clamp(0.8rem , 1.2vw, 1rem);
  position: relative;
  font-weight: bold;
  color: #F7F6F2;
}

.navbar-list a::after{
  content: " "; 
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #F7F6F2;
  transform: scaleX(0);
  transform-origin: left ;
  transition: transform 0.3s ease;
}

.navbar-list a:hover::after{
  transform: scaleX(1);
}

.hero{
  background: url(img/main-bg.jpg) center / cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero > *{
  position: relative;
  z-index: 2;
}

.hero-container{
  margin: auto;
  text-align: center;
}

.hero-title h3{
  font-size: clamp(1.5rem, 3vw , 2.6rem);
  font-weight: bold;
}

.hero-description{
  font-size: clamp(1.2rem, 2vw , 1.3rem);
  color: #CACACA;
  font-weight: 500;
  margin-top: 15px;
  max-width: 900px;
}

.hero-button{
  padding: 1rem 3rem;
  display: inline-block;
  color: black;
  border-radius: 50px;
  background-color:#F7F6F2 ;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}
