:root {
  --main-bg: #bbb7b7;
  --sec-bg: #443f3f;
  --color-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--main-bg);
}

nav {
  position: absolute;
  padding: 1.8rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  z-index: 5;
}

.navbar-title {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: bold;
  color: var(--color-text);
}

.navbar-list {
  display: flex;
  gap: clamp(0.5rem, 1vw, 1.2rem);
}

.navbar-list a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  position: relative;
  font-weight: bold;
  color: #f7f6f2;
}

.navbar-list a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #f7f6f2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar-list a:hover::after {
  transform: scaleX(1);
}

.menu-bar {
  display: none;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

/* home page section */
.hero {
  background: url(img/main-bg.jpg) center / cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero-container {
  margin: auto;
  text-align: center;
}

.hero-title h3 {
  font-size: clamp(1.5rem, 3vw, 2.6rem);
  font-weight: bold;
  color: white;
}

.hero-description {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  color: #cacaca;
  font-weight: 500;
  margin-top: 15px;
  max-width: 700px;
}

.hero-button {
  padding: 1rem 2.5rem;
  display: inline-block;
  color: black;
  border-radius: 50px;
  background-color: #f7f6f2;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.hero-button a {
  color: black;
  text-decoration: none;
}

/* menu homepage */
.section-menu {
  margin-top: 70px;
}

.menu-title {
  text-align: center;
  text-transform: capitalize;
}

.menu-title h5 {
  color: black;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-align: center;
}

.menu-title h5::after {
  content: " ";
  position: absolute;
  left: 10%;
  bottom: -6px;
  width: 80%;
  height: 2px;
  background-color: black;
}

.menu-title h3 {
  color: black;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  margin-top: 20px;
}

.menu-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  margin: auto;
  margin-top: 40px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.menu-image img {
  border: 1px solid black;
  border-radius: 20px;
  width: 90%;
  height: 95%;
  object-fit: cover;
}

.menu-text h3 {
  font-size: clamp(1.3rem, 2vw, 1.3rem);
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.menu-text p {
  text-align: justify;
  padding: 0 7%;
  color: #272727;
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 500;
}

@media (max-width: 768px) {
  .navbar-list {
    position: absolute;
    /* top: 100%;
    right: -100%;
    background-color: #CACACA;
    width: 30rem;
    height: 100vh; */
  }

  /* .navbar-list.active{
    right: 0;
  } */

  .menu-bar {
    display: block;
  }
}
