:root {
  --main-bg: #bbb7b7;
  --sec-bg: #443f3f;
  --color-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--main-bg);
  overflow-x: hidden;
}

nav {
  position: absolute;
  padding: 2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  z-index: 5;
}

.navbar-title {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: bold;
  color: var(--color-text);
}

.navbar-list {
  display: flex;
  gap: clamp(0.5rem, 1vw, 1.2rem);
}

.navbar-list a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  position: relative;
  font-weight: bold;
  color: #f7f6f2;
}

.navbar-list a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 50px;
  height: 2px;
  background-color: #f7f6f2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar-list a:hover::after {
  transform: scaleX(1);
}

.menu-bar {
  display: none;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-text);
}

/* home page section */
.hero {
  background: url(img/main-bg.jpg) center / cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero-container {
  margin: auto;
  text-align: center;
}

.hero-title h3 {
  font-size: clamp(1.5rem, 3vw, 2.6rem);
  font-weight: bold;
  color: white;
}

.hero-description {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  color: #cacaca;
  font-weight: 500;
  margin-top: 15px;
  max-width: 700px;
}

.hero-button {
  padding: 1rem 2rem;
  display: inline-block;
  color: black;
  border-radius: 50px;
  background-color: #f7f6f2;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.hero-button a {
  color: black;
  text-decoration: none;
}

/* menu homepage */
.section-menu {
  margin-top: 70px;
}

.menu-title {
  text-align: center;
  text-transform: capitalize;
}

.menu-title h5 {
  color: black;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-align: center;
}

.menu-title h5::after {
  content: " ";
  position: absolute;
  left: 10%;
  bottom: -6px;
  width: 80%;
  height: 2px;
  background-color: black;
}

.menu-title h3 {
  color: black;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  margin-top: 20px;
}

.menu-grid {
  max-width: 1250px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  margin: auto;
  margin-top: 40px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.menu-image img {
  border: 1px solid black;
  border-radius: 20px;
  width: 90%;
  height: 95%;
  object-fit: cover;
}

.menu-text h3 {
  font-size: clamp(1.3rem, 2vw, 1.3rem);
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.menu-text p {
  text-align: justify;
  padding: 0 7%;
  color: #272727;
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 500;
}

/* page response */
.response {
  margin-top: 120px;
}

.response-container {
  padding: 1rem 10%;
}

.response-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.response-title h3 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bold;
}

.response-slide a {
  padding: 0.8rem 0.8rem;
  border: 1px solid black;
  font-size: 1rem;
}

.response-slide a:first-child {
  background-color: #272727;
  color: white;
}

.response-description {
  margin-top: 20px;
  max-width: 700px;
}

.response-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.response-card {
  background-color: #272727;
  border-radius: 15px;
  padding: 3rem 0;
  overflow: hidden;
  box-shadow: -10px 40px 24px rgba(0, 0, 0, 0.362),
    -16px 20px 8px rgba(52, 52, 52, 0.2);
}

.response-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 2rem;
}

.response-wrapper h3 {
  color: var(--color-text);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.response-stars {
  color: yellow;
}

.response-text {
  color: var(--color-text);
  text-align: justify;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  padding: 0 2rem;
}

.text-foot {
  color: var(--color-text);
  text-align: justify;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  padding: 0 2rem;
  margin-top: 10px;
}

/* page contact */
.contact {
  padding: 5rem 0;
}

.contact-container {
  display: flex;
  gap: 60px;
  margin: auto;
  align-items: flex-start;
}

.contact-form,
.contact-info {
  flex: 1;
  width: 100%;
  padding: 0 10%;
}

.contact-form label {
  display: block;
  margin: 20px 0 6px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #777;
  background: #e5e5e5;
  margin-bottom: 30px;
}

.contact-form textarea {
  min-height: 200px;
  resize: none;
}

.contact-info {
  padding: 25px 0;
}

.contact-info h3 {
  margin-bottom: 80px;
  font-size: clamp(1.3rem, 2vw, 2rem);
}

.contact-info .info-contact {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  margin-bottom: 50px;
}

.info-phone {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-bottom: 10px;
}

.phone {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-bottom: 20px;
}

.info-schedule {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-bottom: 10px;
}

.schedule {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-bottom: 20px;
}

.contact-button {
  margin-top: 50px;
}

.contact-button a {
  padding: 0.8rem 2.5rem;
  background-color: var(--sec-bg);
  text-decoration: none;
  color: white;
}

/* foooter page */
.footer-container {
  padding: 1rem 3%;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: clamp(1rem, 2vw, 1.3rem);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-transform: capitalize;
}

.footer-list p {
  color: var(--sec-bg);
  margin-top: 3px;
  margin-bottom: 4px;
  font-weight: bold;
}

.footer-media a {
  color: black;
  font-size: 1.5rem;
  margin-left: 5px;
}

hr{
  border: none;
  height: 2px;
  background-color: black;
}
@media (max-width: 768px) {
  .navbar-list {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--main-bg);
    width: 20rem;
    height: 88vh;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .navbar-list a {
    margin-top: 20px;
    margin-left: 15px;
    color: black;
  }

  .navbar-list a::after {
    background-color: black;
  }

  .navbar-list.active {
    right: 0;
  }

  .menu-bar {
    display: block;
  }

  .contact-container {
    flex-direction: column;
  }
  .contact-info {
    padding: 0 10%;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-list {
    gap: 25px;
    text-align: center;
  }
}
